<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Body:</b>
  <%= @note.body %>
</p>

<%= link_to 'Edit', edit_project_note_path(@project, @note) %> |
<%= link_to 'Back', project_notes_path(@project) %>
